body {
    background-color:#BEF0CB;
}

hr {
    border: dotted rgb(95, 94, 163);
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 15%;
}
h1{
    color:blueviolet;
}
h3{
    color: brown;
}
/*img:hover{
    background-color: greenyellow;
    }*/
.picture{
    border-radius: 60%;
}
